html{
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', Geneva, Verdana, Arial, sans-serif;
	font-size: 16px;
	color: black;
	text-align: left;

}

#title{
	text-align: center;
	color: white;
	font-family: 'Helvetica', Geneva, Verdana, Arial, sans-serif;
	font-size: 16px;
	border: 5px solid #FF4500;
	width: 600px;
	padding: 0px;
	margin: 10px;
	position: relative;
		left: 25%;

}

#word{
	text-align: center;
	color: white;
	font-family: 'Helvetica', Geneva, Verdana, Arial, sans-serif;
	font-size: 14px;

}

#search {
    background-color: #77BFC7; 
    border: none;
    color: white ;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.Results{ 
	font-size: 14px;
	color: black;
	position: relative;
		left: 25%;
	width: 600px;
	text-align: center;
	border: 5px solid #66ccff;
	padding: 0px;
	margin: 10px;
}

#myCanvasDiv {

}


#songvomit{


}


#container1{
	width: 800px;
	text-align: center;
	color: #77BFC7;
	border: 0px solid white;
	position: absolute;
		bottom: 60%;
		left: 21%;
	padding: 0px;
	margin: 0px;

}
